body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.invoice-table{
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 17px;
    width: 50%;
    table-layout: fixed;
    margin-top: 5%;
}

.invoice-table th{
    padding: 10px 5px;
    border: 1px solid #000;
    background-color: #f1f1f1;
    text-align: left;
}

.invoice-table td{
    border: 1px solid #000;
    padding: 10px 5px;
}

.payment{
    border: none;
}

.payment td{
    margin: 0;
    padding: 5px 0px;
    border: none;
    background-color: #fff;
}

.payment th{
    border: none;
    background-color: #fff;
    padding: 0px;
    text-align: left;
}